{% extends 'userSide/base2.html'%} {% load static %} {% block content%} {% if messages %} {% for message in messages %}
<div class="alert alert-danger"> {{message}} </div>
{% endfor %} {% endif %}
<div class="container-fluid">
    <h3 class="text-dark mb-4">Book</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold" style="color: #F2AE30 !important;">Book info</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 text-nowrap">
                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label class="form-label">Show&nbsp;<select class="d-inline-block form-select form-select-sm">
                                <option value="10" selected="">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>&nbsp;</label></div>
                </div>
                <div class="col-md-6">
                    <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input
                                type="search" class="form-control form-control-sm" aria-controls="dataTable"
                                placeholder="Search"></label></div>
                </div>
            </div>
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>

                        <tr>
                            <th>ISBN</th>
                            <th>Issue Id</th>
                            <th>Title</th>

                            <th>Issue Date</th>
                            <th>Issue for</th>
                            <th>Status</th>
                            <th>View</th>
                        </tr>


                    </thead>
                    <tbody>
                        {% for item in issues %}
                        <tr>

                            <td><img class="rounded-circle me-2" width="30" height="30" src="{{ item.book_id.bookPhoto.url }}">{{item.book_id.isbn}}</td>
                            <td>{{item.issue_id}}</td>
                            <td>{{item.book_id.title}}</td>

                            <td>{{item.issue_date}}</td>
                            <td>{{item.issue_for}}</td>
                            <td>{{item.book_id.status}}</td>
                            <td><a href="{% url 'bookInfo' item.book_id.book_id %}">view book info</a></td>
                        </tr>
                        {% endfor %}

                    </tbody>
                    <tfoot>
                        <tr></tr>
                    </tfoot>
                </table>
            </div>
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27
                    </p>
                </div>
                <div class="col-md-6">
                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span
                                        aria-hidden="true">«</span></a></li>
                            <li class="page-item active" style="background-color: #F2AE30 !important;"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span
                                        aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}