{%extends 'admin/main.html'%}
{% load static %}

{% block content%}

    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            {%include 'admin/navbar.html'%}
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Profile</h3>
                <div class="row mb-3">
                    <div class="col-lg-4">
                        <div class="card mb-3">
                            <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="{%static 'img/dogs/image2.jpeg'%}" width="160" height="160"></div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col">
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 fw-bold" style="color: #ec8f00 !important;">User Settings</p>
                                    </div>
                                    <div class="card-body">
                                        <form>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group mb-3"><label class="form-label" for="username"><strong>Username</strong></label><input class="form-control" type="text" id="username" placeholder="username" name="username" value="{{member.username}}"></div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group mb-3"><label class="form-label" for="email"><strong>Email Address</strong></label><input class="form-control" type="email" id="email" placeholder="user@example.com" name="email" value="{{member.email}}"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group mb-3"><label class="form-label" for="first_name"><strong>First Name</strong></label><input class="form-control" type="text" id="first_name" placeholder="John" name="first_name" value="{{member.first_name}}"></div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group mb-3"><label class="form-label" for="last_name"><strong>Last Name</strong></label><input class="form-control" type="text" id="last_name" placeholder="Doe" name="last_name" value="{{member.last_name}}"></div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group mb-3"><label class="form-label" for="gender"><strong>Gender</strong></label><input class="form-control" type="text" id="gender" placeholder="Female/Male" name="gender" value="{{member.gender}}"></div>
                                                </div>
                                            </div>
                                            <div class="form-group mb-3"><button class="btn btn-primary btn-sm" type="submit" style="background: #ec8f00;border-color: #ec8f00;">Save Settings</button></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card shadow">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold" style="color: #ec8f00 !important;">Contact Settings</p>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="form-group mb-3"><label class="form-label" for="address"><strong>Address</strong></label><input class="form-control" type="text" id="address" placeholder="Sunset Blvd, 38" name="address" value="{{member.address}}"></div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group mb-3"><label class="form-label" for="city"><strong>City</strong></label><input class="form-control" type="text" id="city" placeholder="Los Angeles" name="city" value="{{member.city}}"></div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group mb-3"><label class="form-label" for="country"><strong>Country</strong></label><input class="form-control" type="text" id="country" placeholder="USA" name="country" value="{{member.country}}"></div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3"><button class="btn btn-primary btn-sm" type="submit" style="border-color: #ec8f00;background: #ec8f00;">Save&nbsp;Settings</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%include 'admin/footer.html'%}
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
{% endblock%}