{%extends 'management/main.html'%}
{% load static %}

{% block content%}
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            {%include 'management/navbar.html'%}
            <div class="container-fluid">
                <h3 class="text-dark mb-4">USERS</h3>
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold" style="color: #ec8f00 !important;">Members List</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 text-nowrap">
                                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label class="form-label">Show&nbsp;<select class="form-control form-control-sm custom-select custom-select-sm">
                                            <option value="10" selected="">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>&nbsp;</label></div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                            </div>
                        </div>
                        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                            <table class="table my-0" id="dataTable">
                                <thead>           
                                    <tr>
                                        <th>Username</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Gender</th>
                                        <th>Email</th>
                                        <th>Date Added</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for item in member%}
                                    <tr>
                                        <td><a href="{% url 'profileMember' item.id%}"><img class="rounded-circle me-2" width="30" height="30"  src="{%static 'img/avatars/avatar1.jpeg'%}"></a>{{item.username}}</td>
                                        <td>{{item.first_name}}</td>
                                        <td>{{item.last_name}}</td>
                                        <td>{{item.gender}}</td>
                                        <td>{{item.email}}</td>
                                        <td>{{item.date_created}}</td>
                                        <td class="text-center"><a class="btn btn-danger" role="button" style="margin: 2px;background: #810000;"><i class="fas fa-trash"></i></a></td>
                                    </tr>
                                    {% endfor%}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td><strong>User Name</strong></td>
                                        <td><strong>First Name</strong></td>
                                        <td><strong>Last Name</strong></td>
                                        <td><strong>Gender</strong></td>
                                        <td><strong>Email</strong></td>
                                        <td><strong>Date Added</strong></td>
                                        <td><strong>Action</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6 align-self-center">
                                <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                            </div>
                            <div class="col-md-6">
                                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                    <ul class="pagination">
                                        <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item" style="color: var(--red);"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item" style="border-color: #ec8f00 !important;"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%include 'management/footer.html'%}
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
{% endblock%}